* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES - START */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  height: 100px;
  display: flex;
  justify-content: center;
}

p {
  color: aquamarine;
}